<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"> <strong>Senior Full Stack Web Developer</strong></h3>
    </div>
    
    <div class="panel-body">
    <br/>
    <div class="col-md-8"><strong>Founder Codemy.com</strong></div>
    <div class="col-md-4 text-right"><em>2014 - 2016</em></div>
    <div class="col-md-8 text-justify">
        Built a responsive membership website that teaches people to code through a series of online Ruby on Rails and
        PHP instructional video courses that I recorded, edited, and produced with Camtasia. Built the website using a
        Wordpress theme that I customized; HTML/CSS/PHP/LAMP.
        <br/><br/><br/>
    </div>
    
    
    
    
    <div class="col-md-6"><strong>Founder Elder Academy, LLC. ElderAcademy.com</strong></div>
    <div class="col-md-6 text-right"><em>2013 - 2014</em></div>
    <div class="col-md-8 text-justify">
        Built a responsive membership website that teaches people Internet Marketing through a series of 10 online
            courses comprised of 40+ hours of video that I recorded, edited, and produced with Camtasia. 400+ paying
            students currently enrolled. Built the website using a Wordpress theme that I customized; HTML/CSS/PHP/LAMP.
    <br/><br/><br/>
    </div>
    
    
    
    
    <div class="col-md-6"><strong>Co-Founder Introz, Inc. YouLookGoodTogether.com</strong></div>
    <div class="col-md-6 text-right"><em>2012 - 2013</em></div>
    <div class="col-md-8 text-justify">
         Hand-coded this crowd-sourced online dating website that matches people based solely on how well they look
        together. Built the site using HTML/CSS/PHP/MySQL/LAMP.
    <br/><br/><br/>
    </div>
    
    
    <div class="col-md-6"><strong>Founder MarketingFool.com</strong></div>
    <div class="col-md-6 text-right"><em>2012 - 2013</em></div>
    <div class="col-md-8 text-justify">
         Blog about Internet Marketing and SEO. Customized the wordpress theme, created all
graphics, weote and published 300+ articles on various Internet Marketing topics, developed a desktop quick index SEO software. Wrote
and published 5 books on Internet Marketing.
        <br/><br/><br/>
    </div>
    
    
    
    <div class="col-md-6"><strong>Founder Flatplanet Media, LLC.</strong></div>
    <div class="col-md-6 text-right"><em>2010 - 2012</em></div>
    <div class="col-md-8 text-justify">
        Built a network of 4,000+ hand-coded HTML and PHP template-driven affiliate websites monetized with Adsense
Ads and Amazon Affiliate products. Generated 1+ million visitors.
        <br/><br/><br/>
    </div>
    
    
    
    <div class="col-md-6"><strong>Founder Market-Tek Enterprises, Inc. Submission-Spider.com</strong></div>
    <div class="col-md-6 text-right"><em>1998 - 2010</em></div>
    <div class="col-md-8 text-justify">
        Developed award-winning Submission-Spider Desktop SEO Software used by 3+ million users. Published WebPromotion-Weekly.com weekly 
        Internet Marketing newsletter to 20,000+ subscribers.
        <br/><br/><br/>
    </div>
    
    
    <div class="col-md-6"><strong>Co-Founder VitalBio.com</strong></div>
    <div class="col-md-6 text-right"><em>1998</em></div>
    <div class="col-md-8 text-justify">
        Developed and sold VitalBio.com portal website for the Biotech investor community.  
        <br/><br/><br/>
    </div>
    
    
    <div class="col-md-6"><strong>Founder BannerClicks.com Advertising Network</strong></div>
    <div class="col-md-6 text-right"><em>1997 - 1998</em></div>
    <div class="col-md-8 text-justify">
        Built one of the Internet's earliest advertising networks, 1+ million ad views in first 3 months. Sold company to
publicly-traded WebQuest International , Inc. (WEBQ) at height of the first dot com boom of the late 90's
    <br/><br/><br/>
    </div>
    
    
    
    
    
  </div>
</div>

<br/><br/>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"> <strong>Programming Technical Skills</strong></h3>
    </div>
    
    <div class="panel-body">
    
    <div class="col-md-3">
        <strong>Front-End Skills</strong><br/>
        HTML & CSS<br/>
        Javascript<br/>
        Jquery<br/>
        PHP<br/>
        Rails<br/>
        Bootstrap<br/>
        Angular<br/>
        Wordpress<br/>
        Photoshop<br/>
        <br/>
        
    </div>
    
    
    <div class="col-md-3">
        <strong>Back-End Skills</strong><br/>
        Ruby On Rails<br/>
        Ruby<br/>
        Some Python<br/>
        Postgres Databases<br/>
        MySql Databases<br/>
        Amazon AWS<br/>
        Microsoft Azure<br/>
        Linux Devops<br/>
        <br/>
    </div>

    <div class="col-md-3">
        <strong>Frameworks</strong><br/>
        Ruby on Rails<br/>
        Angular<br/>
        Wordpress<br/>
        Bootstrap Responsive<br/>
        Some Django<br/>
        Lamp Stack<br/>
        Visual Studio<br/>
        <br/>
    </div>
    
    <div class="col-md-3">
        <strong>Internet Marketing</strong><br/>
        SEO<br/>
        Google Analytics<br/>
        Adwords<br/>
        Video Production<br/>
        Growth Hacking<br/>
        Content Marketing<br/>
        Facebook Advertising<br/>
        <br/>
    </div>
        

 </div>
</div>

<br/><br/>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"> <strong>Books I've Written</strong></h3>
    </div>
    
    <div class="panel-body">
    
    <br/>
    <div class="row">
        <div class="col-md-3">
            <%= image_tag "ruby.png", size: "200x179", align: "left" %>
            <br/>
        </div>
        <div class="col-md-8 text-left">
            <br/><strong>Intro To Ruby Programming</strong><br/>
            <p class="text-justify">This easy to follow guide is aimed at teaching the absolute beginner the ins and outs of programming with Ruby.

Written for the absolute beginner, you don't need any programming experience to dive in and get started with this book.Follow along as John teaches you to set up a development environment and write your first program. 

You'll learn about Variables, Math, IF/THEN Statements, Array, Hashes, Loops, Methods and much more.

By the end, you'll be well on your way to becoming a professional Ruby coder!Build on your skills with practice exercises at the end of each chapter and build a math flashcard game using all the skills you've learned throughout the book. 

It really is this easy to learn Ruby!</p>
<a href="https://www.amazon.com/Intro-Ruby-Programming-Beginners-Guide-ebook/dp/B01FPPNUU6/">Kindle</a> | <a href="https://www.amazon.com/Intro-Ruby-Programming-Beginners-Guide/dp/0692714413">Paperback</a>
            <br/>
        </div>
    </div>
    <br/><br/><br/>
    
    
    
    <div class="row">
        <div class="col-md-3">
            <%= image_tag "rails.png", size: "250x188", align: "left" %>
            <br/>
        </div>
        <div class="col-md-8 text-left">
            <br/><strong>Ruby On Rails For Web Development</strong><br/>
            <p class="text-justify">Learning Ruby on Rails has never been this fast and easy, or fun!

Veteran Codemy.com programmer John Elder walks you step by step through the ins and outs of Rails for Web Development.  Written for the absolute beginner, you don't need any programming experience to dive in and get started with this book. 

Follow along as John builds a Pinterest-style website from start to finish that allows people to sign up, log in and out, edit their profile, upload images to the database and style those images on the screen.

By the end, you'll be well on your way to becoming a professional Ruby on Rails coder!</p>
<a href="https://www.amazon.com/Learn-Ruby-Rails-Web-Development-ebook/dp/B00SGN0VP2">Kindle</a> | <a href="https://www.amazon.com/Learn-Ruby-Rails-Web-Development/dp/0692364218">Paperback</a>

            <br/>
        </div>
    </div>
    <br/><br/><br/>
    
    
    
    <div class="row">
        <div class="col-md-3">
            <%= image_tag "dotcom.png", size: "200x179", align: "left" %>
            <br/>
        </div>
        <div class="col-md-8 text-left">
            <br/><strong>Living The DotCom Lifestyle</strong><br/>
            <p class="text-justify">Having a job sucks! Commuting every day, dealing with idiot bosses, putting up with back-stabbing co-workers, and doing work that bores you to death is no way to live...It just sucks! And with the coming automation invasion, who knows if your job will even be around in five years. There's never been a better time to take control of your life and start living the dot come lifestyle! This no-nonsense guide will show you exactly how to do it from someone who knows. 

What kind of online business should you start? Do you have to invest an arm and a leg to build a website? How do bring traffic to your site and convert them to sales? Finally someone who's been doing this for 20 years explains his methods, in a simple and straight forward manner that anyone can follow...</p>
<a href="https://www.amazon.com/Living-Dot-Com-Lifestyle-Independence-ebook/dp/B01HCE6PPU/">Kindle</a> | <a href="https://www.amazon.com/Living-Dot-Com-Lifestyle-Independence/dp/0692745777/">Paperback</a>
            
            <br/>
        </div>
    </div>
    <br/><br/><br/>
    
    <div class="row">
        <div class="col-md-3">
            <%= image_tag "startup.png", size: "200x179", align: "left" %>
            <br/>
        </div>
        <div class="col-md-8 text-left">
            <br/><strong>The Smart Startup</strong><br/>
            <p class="align-justify">More people are starting tech companies today than ever before. Tech Incubators are popping up all across the country, and shared office space is available everywhere. 

When people think about building a startup, they immediately jump on the seemingly tried and true path...find a co-founder, get into an incubator, start pitching venture capitalists on your business plan, then crush it! 

But there's another way...a better way...a smarter way....the Smart Startup way. 

In the Smart Startup, veteran serial entrepreneur John Elder describes his tried and true method for building startups without the need of a co-founder, an incubator, or venture capital money. 

John first started building Smart Startups in the mid 90's when he created one of the Internets earliest advertising exchanges and sold it to a publicly traded company at the height of the first dot-com boom. After that he built a b2b biotech company and sold it to a group of investment bankers before developing one of the earliest desktop SEO software titles used by over three million people.</p>
            <a href="https://www.amazon.com/Smart-Startup-Without-Falling-Venture-ebook/dp/B00ZPISDQK/">Kindle</a> | <a href="https://www.amazon.com/Smart-Startup-Without-Falling-Venture/dp/069246512X/">Paperback</a>
            <br/>
        </div>
    </div>
    <br/><br/><br/>

 </div>
</div>

<br/><br/>




<div class="panel panel-default">
  <div class="panel-heading">
      <h3 class="panel-title"><strong>Education</strong></h3>
  </div>
  <div class="panel-body">
    
    <div class="col-md-1">
        <%= image_tag "washu.png", size: "50x50", align: "left" %>
    </div>
    <div class="col-md-6">
        <strong>Washington University in St. Louis</strong><br/>
        Bachelor of Arts (B.A.)<br/>
        Economics - With Honors<br/><br/>
        <em>Named Artsci Scholar (top 10%)</em><br/>
        <em>Awarded Bassett Scholarship</em><br/>
        <br/>
    </div>
  </div>
</div>


<br/><br/>